//----------COLORS----------/
// COLORS
$color-gray: #777;
$color-white: #ffffff;
$color-black: #000000;

// BASIC COLORS
$color-brown-light: #ba8554;
$color-brown-dark: #a14f03;
$color-gardient-brown-light: linear-gradient(90deg, #c3956a 3.65%, #a14f03 100%);
$color-gardient-brown-black: linear-gradient(90deg, #ba8554 0%, #000 100%);

// SHADOW FOR THE BOX
$box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
$box-shadow-light: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
$text-shadow: 0rem 0.4rem 0.4rem rgba($color-black, 0.25);

// MARGIN & PADDING
$margin-vertical-big: 8rem;
$grid-width: 114rem;
$gutter-horizontal: 6rem;

// TYPOGRAPHY
$font-size-p: 1.6rem;
$font-size-h2: 3.6rem;
$font-size-h3: 2rem;
