.composition {
  position: relative;
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
  &__photo {
    position: absolute;
    width: 55%;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;
    transition: transform 0.5s;
    outline-offset: 1rem;
    &:hover {
      z-index: 9;
      transform: scale(1.15);
      outline: 1rem solid $color-brown-light;
    }
    &_n1 {
      top: 0;
      left: 0;
    }

    &_n2 {
      // z-index: 1;
      right: 0;
      top: 8.1rem;
    }

    &_n3 {
      // z-index: 2;
      top: 15rem;
      left: 2rem;
    }
  }
}
