.booking {
  height: 50rem;
  background: linear-gradient(
      107deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 56%,
      rgba(186, 133, 84, 0) 56%,
      rgba(161, 79, 3, 0) 100%
    ),
    url(../../src/img/form/form-bg.jpg) center/cover no-repeat;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;
  overflow: hidden;
  @include respond(tab-port) {
    background: linear-gradient(
        107deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 506%,
        rgba(186, 133, 84, 0) 56%,
        rgba(161, 79, 3, 0) 100%
      ),
      url(../../src/img/form/form-bg.jpg) center/cover no-repeat;
  }
  &__form {
    width: 60%;
    padding-top: 5rem;
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
.form {
  padding-left: 5rem;
  width: 70%;
  &__group {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    &:nth-child(4) {
      margin-bottom: 4rem;
    }
  }

  &__input {
    font-size: $font-size-p;
    letter-spacing: 0.2rem;
    color: $color-black;
    background: #fff;

    border: none;
    border-radius: 0.3rem;
    border-bottom: 2px solid transparent;
    padding: 1.8rem 2.2rem;
    width: 65%;
    &:focus {
      outline: none;
      border-bottom: 0.3rem solid #66d763;
      box-shadow: $box-shadow;
    }
    &:focus:invalid {
      outline: none;
      border-bottom: 0.3rem solid #d76363;
      box-shadow: $box-shadow;
    }
  }

  &__input:placeholder-shown ~ &__label {
    opacity: 0;
    overflow: hidden;
    transform: translateY(-3.1rem);
  }

  &__label {
    display: block;
    font-size: $font-size-p;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    margin-left: 1.6em;
    transition: all 0.3s ease 0s;
  }

  &__group-radio {
    // width: 40%;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__input-radio {
    display: none;
  }
  &__input-radio:checked ~ &__label-radio &__button-radio::after {
    opacity: 1;
  }

  &__label-radio {
    position: relative;
    cursor: pointer;
    padding-left: 4rem;
  }
  &__button-radio {
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0.5rem solid $color-brown-dark;

    position: absolute;
    top: -0.5rem;
    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background: $color-brown-dark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.2s;
    }
  }
}

@include respond(tab-form) {
  .title-secondary {
    font-size: 3.3rem;
  }
  .booking__form {
    width: 80%;
    padding-top: 3rem;
  }
  .form__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  .form__group-radio {
    // display: inline;
    // max-width: 25rem;
    margin-bottom: 3rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  .form__label-radio {
    // display: inline;
    padding-left: 4rem;
  }
}

@include respond(tab-land) {
  .form__group-radio {
    display: block;
    margin-bottom: 2rem;
    &:not(:last-child) {
      // margin-right: 2rem;
    }
  }
  .form__group {
    &:not(:last-child) {
      margin-bottom: 0rem;
    }
    &:nth-child(4) {
      margin-bottom: 2.5rem;
    }
  }
}

@include respond(tab-port) {
  .form {
    padding-left: 3rem;
    width: 100%;
    &__input {
      width: 90%;
      box-shadow: $box-shadow;
    }
  }
  .booking__form {
    width: 100%;
  }
  .title-secondary {
    // display: block;
    // margin: 0 auto;
  }
}
