.text-align-center {
  text-align: center;
}

.mb-80px {
  margin-bottom: 8rem;
}
.mb-50px {
  margin-bottom: 5rem;
}
.mb-30px {
  margin-bottom: 3rem;
}
.mb-10px {
  margin-bottom: 1rem;
}

@include respond(tab-port) {
  .mb-80px {
    margin-bottom: 5rem;
  }
}
